#main #changepass {
position: absolute;
width: 200px;
height: 320px;
margin-top: 60px;
margin-left: 400px;
background: linear-gradient(to top, #663399, #330066);
text-align: center;
font-size: medium;
border-radius: 10px;
box-shadow: 5px 5px 10px #000000;
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box;
}

#main #changepass #current_lbl {
position: absolute;
margin-top: 10px;
width: 200px;
height:30px;
}

#main #changepass #current_txt {
position: absolute;
margin-top: 50px;
width: 200px;
height:30px;
}

#main #changepass #new_lbl {
position: absolute;
margin-top: 100px;
width: 200px;
height:30px;
}

#main #changepass #new_txt {
position: absolute;
margin-top: 140px;
width: 200px;
height:30px;
}

#main #changepass #new2_lbl {
position: absolute;
margin-top: 190px;
width: 200px;
height:30px;
}

#main #changepass #new2_txt {
position: absolute;
margin-top: 230px;
width: 200px;
height:30px;
}

#main #changepass #submit {
position: absolute;
margin-top: 280px;
width: 200px;
height:30px;
}