#main #ttasks {
position: absolute;
width: 355px;
height: 90px;
margin-left: 10px;
margin-top: 120px;
background: linear-gradient(to top, #663399, #330066);
border-radius: 10px;
box-shadow: 5px 5px 10px #000000;
line-height: 90px;
font-size: large;
color: #E0E0E0;
}

#main #ttasks #image {
position: absolute;
width: 355px;
height: 90px;
background: url("images/test.png");
}

#main #ttasks #image:hover {
background: url("images/testhov.png");
}

#main #testmanage {
position: absolute;
width: 355px;
height: 90px;
margin-left: 375px;
margin-top: 120px;
background: linear-gradient(to top, #663399, #330066);
border-radius: 10px;
box-shadow: 5px 5px 10px #000000;
line-height: 90px;
font-size: large;
color: #E0E0E0;
}

#main #testmanage #image {
position: absolute;
width: 355px;
height: 90px;
background: url("images/resources.png");
}

#main #testmanage #image:hover {
background: url("images/resourceshov.png");
}

#main #classes {
position: absolute;
width: 355px;
height: 90px;
margin-left: 10px;
margin-top: 220px;
background: linear-gradient(to bottom, #663399, #330066);
border-radius: 10px;
box-shadow: 5px 5px 10px #000000;
line-height: 90px;
font-size: large;
color: #E0E0E0;
}

#main #classes #image {
position: absolute;
width: 355px;
height: 90px;
background: url("images/tasks.png");
}

#main #classes #image:hover {
background: url("images/taskshov.png");
}

#main #progress {
position: absolute;
width: 355px;
height: 90px;
margin-left: 375px;
margin-top: 220px;
background: linear-gradient(to bottom, #663399, #330066);
border-radius: 10px;
box-shadow: 5px 5px 10px #000000;
line-height: 90px;
font-size: large;
color: #E0E0E0;
}

#main #progress #image {
position: absolute;
width: 355px;
height: 90px;
background: url("images/achieve.png");
}

#main #progress #image:hover {
background: url("images/achievehov.png");
}